# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and Build Output
node_modules
dist
dist-ssr

# Local Environment Variables
*.local # Catches .env.local, .env.development.local, etc.

# Editor and OS Specific Files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?